<ion-view  name="login-view">

  <ion-content class="padding" style="padding: 0;">

    <div class="banner">
      <img src="img/beijing1@2x.png" style="width:375px;height:245px"/>
    </div>

    <div class="item" style="padding-bottom:0;border:0">
      <div style="margin-top: 8%;margin-left: 5%;width: 90%;border: 0;background-color:rgba(218, 229, 232, 0.54);border-radius:24px;">
        <div style="margin-left:8%;margin-top: 3%;position: absolute;top: 40%;">
          <i class="ion-ios-person-outline" style="font-size:2.5em;color:gray" ></i>
        </div>
        <input type="text" style="width:60%;margin: 3% 3% 3% 30%;display:inline-block;background: transparent;" ng-model="user.username">
      </div>
    </div>

    <div class="item" style="padding-top: 0;border:0">
      <div style="margin-top: 8%;margin-left: 5%;width: 90%;border: 0;background-color:rgba(218, 229, 232, 0.54);border-radius:24px;">
        <div style="margin-left:8%;margin-top: 3%;position: absolute;top:25%;">
          <i class="ion-android-unlock" style="font-size:2em;color:gray" ></i>
        </div>
        <input type="text" style="width:60%;margin: 3% 3% 3% 30%;display:inline-block;background: transparent;" ng-model="user.password">
      </div>
    </div>


    <button class="button button-block  button-balanced"
            ng-click="doLogin()"
            style="width: 80%;margin-left:10%;margin-top:30px;border-radius: 24px;background: #52BF97;font-size: 1.5em;">
      登 录
    </button>



  </ion-content>
</ion-view>
