<ion-view view-title="">
  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content style="background: rgba(158, 158, 158, 0.08)">



    <div class="list" style="height: 100%;">


      <div  class="item" style="margin-bottom: 5%;">
        <span>
          <i class="ion-person"  style="font-size: 3.2em;"></i>
          <span>请上传头像</span>
          <span class="camera"
                style="position: absolute;right:17%;top:40%;font-size: 1.5em;"
                ng-click="addAttachment(carOwner,'per_img')"
            >
              <i class="ion-android-camera"></i>
            </span>
        </span>
      </div>

      <div class="item" style="margin-bottom: 15%;">
        <div class="padding">
          <span style="width: 30%;display: inline-block">
            服务城市:
          </span>
          <span style="width: 50%;display: inline-block">
            {{carServicePersonInfo.city}}
          </span>
          <span style="width: 20%;display: inline-block;font-size: 1.2em;"
                ng-click="Select(null,['北京','上海','成都'],'选择您所在的城市',carServicePersonInfo,'city')"
                ng-model="carServicePersonInfo.city">
            <i class="ion-chevron-down"></i>
          </span>
        </div>
      </div>


      <div class="item">
        <div style="padding-left:10px;padding-right: 10px;  ">
             <span class="input-label" style="display: inline-block;">
              真实姓名:
            </span>
            <input type="text" placeholder="输入车主姓名"
                   style="display: inline-block;font-size: 1.1em;"  ng-value="carServicePersonInfo.perName"
                   ng-model="carServicePersonInfo.perName"/>
        </div>
      </div>

      <div class="item">
        <div style="padding-left:10px;padding-right: 10px;  ">
             <span class="input-label" style="display: inline-block;">
              身份证号:
            </span>
          <input type="text" placeholder="输入车主身份证"
                 style="display: inline-block;font-size: 1.1em;"  ng-value="carServicePersonInfo.perIdCard"
                 ng-model="carServicePersonInfo.perIdCard"/>
        </div>
      </div>

      <div class="item">
        <div class="padding">
          <span style="width: 30%;display: inline-block">
            获取日期:
          </span>
          <span style="width: 50%;display: inline-block">
          </span>
          <span style="width: 20%;display: inline-block;font-size: 1.2em;" ng-click="">
            <i class="ion-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="item" style="margin-bottom: 10%;">
        <div class="padding">
          <span style="width: 30%;display: inline-block">
            接单偏好:
          </span>
          <span style="width: 50%;display: inline-block">
            {{carServicePersonInfo.prefer}}
          </span>
          <span
            style="width: 20%;display: inline-block;font-size: 1.2em;"
            ng-click="Select(null,['维修救援','车驾管','钣喷'],'选择您的接单偏好',carServicePersonInfo,'prefer')">
            <i class="ion-chevron-down"></i>
          </span>
        </div>
      </div>



      <div class="bar bar-footer  bar-assertive"
           style="position: static" ng-click="postPersonInfo()">
        <h1 class="title">下一步</h1>
      </div>

      <div class="bar bar-footer  bar-assertive"
           style="position: static" ng-click="creatCarServicePerson()">
        <h1 class="title">creatCarServicePersons</h1>
      </div>

    </div>



  </ion-content>

</ion-view>
