<ion-view view-title="">
  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>




    <div style="border:1px solid #ddd;border-top:0px;border-bottom: 0px;">
      <!-- tab区域 -->
      <div class="list" style="margin-bottom: 0px;" ng-if="detail==null||detail==undefined">

        <ul class="ul-tabs dark-theme" style="background: #525252">
          <li style="width:50%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabIndex==0]"
                 ng-click="tab_change(0)">
              <div style="margin-top:10%;">
                  <span>
                    全部
                  </span>
              </div>
            </div>
          </li>

          <li style="width:50%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabIndex==1]"
                 ng-click="tab_change(1)">
              <div style="margin-top:10%;">
                  <span>
                    维修
                  </span>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <div class="list padding">

      <div
        ng-repeat="msg in messages"
        style="position: relative"
        >
        <div style="display: inline-block;width: 10%;position: absolute;bottom:4%;left:4%;">
             <span>user:</span>
        </div>
        <div
          class="item item-text-wrap chat-bubble chat-bubble-left"
          style="border: 0px;display: inline-block;width: 80%;margin-left:20%;background-color: #9F91E6"
          >
          <div ng-bind-html="msg.text"></div>
        </div>
      </div>

    </div>


      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
        <label class="item-input-wrapper">
          <span class="input-label">to client:</span>
          <input type="text" placeholder="echoing......" ng-model="input.message">
        </label>
        <div class="footer-btn-wrap">
          <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                  ng-disabled="!input.message || input.message === ''">
          </button>
        </div>
      </ion-footer-bar>


  </ion-content>

</ion-view>
