<ion-nav-view class="slide-left-right" hide-nav-bar="true">
  <ion-view hide-nav-bar="true">
    <ion-content scroll="false">


      <div style="width: 100%;height: 23%;background: rgb(55, 144, 139);">
        <div style="width: 100%;height: 40px;">
          <div style="margin-left:10px;" ng-click="goBack()">
            <span style="font-size: 6em;color:#fff;"><i class="fa fa-angle-left"></i></span>
          </div>
        </div>
        <div style="width: 100%;height: 60px;text-align: center">
          <div style="width: 100%;height: 100%;display: table;">
            <div style="display: table-cell;vertical-align: middle;text-align: center;">
              <div style="color:#fff;font-size: 3em;margin-bottom: 50px;">余额</div>
              <div style="color:#fff;font-size: 4em;">${{balance}}</div>
            </div>
          </div>
        </div>



      </div>



      <div style="width: 100%;height: 77%;">
        <ion-scroll style="height: 95%;">

          <div class="list padding" style="margin-top: 30px;">

            <div class="item"
                 style="height: 40px;position: relative;margin-top:1px;margin-bottom: 1px;
                                        border:1px solid rgba(88, 73, 58, 0.95);border-top-left-radius: 8px;border-top-right-radius: 8px;">

              <div style="position: absolute;width: 30%;height: 100%;left:0;top:0;border-right:1px solid rgba(88, 73, 58, 0.95);">
                <div style="width:100%;height: 100%;display: table;">
                  <span style="display: table-cell;vertical-align: middle;
                        text-align: center;color:rgba(88, 73, 58, 0.95)">
                    <div style="font-size: 1em;">
                      日期
                    </div>
                  </span>
                </div>
              </div>


              <span style="position: absolute;left:30%;width: 50%;height: 100%;top:0;border-right: 1px solid rgba(88, 73, 58, 0.95)">

                <div style="width: 100%;height: 100%;display: table;">
                  <div style="display: table-cell;vertical-align: middle;text-align: center;">
                    <div style="font-size: 1em;color:rgba(88, 73, 58, 0.95);">
                      说明
                    </div>
                  </div>
                </div>
            </span>

              <span style="width:20%;height:100%;position: absolute;left:80%;top:0;text-align: center;">
                <div style="width: 100%;height: 100%;display: table;">
                    <span style="display:table-cell;vertical-align: middle;color:rgba(88, 73, 58, 0.95)">
                        收入
                    </span>
                </div>
            </span>
            </div>




            <div class="item" ng-repeat="order in orders | orderBy:'-applyTime'"
                 style="height: 60px;position: relative;border:1px solid rgba(88, 73, 58, 0.95);">

              <div style="position: absolute;width: 30%;height: 100%;left:0;top:0;">
                <div style="width:100%;height: 100%;display: table;">
                <span style="display: table-cell;vertical-align: middle;font-size: 0.8em;text-align: center;">
                  <div>
                    {{order.applyTime|date:'yyyy-MM-dd'}}
                  </div>
                </span>
                </div>
              </div>

              <div style="position: absolute;width: 1px;height: 100%;left:29.8%;top:0;background: #aaa;">
                <div style="width: 100%;height: 100%;position: relative;">
                  <div style="    position: absolute;top: 40%;margin-left: -5px;z-index: 9999;background: #fff;">
                    <span style="font-size:0.8em;"><i class="fa fa-circle-o"></i></span>
                  </div>
                </div>
              </div>

              <div style="position: absolute;width: 4%;height: 100%;left:31%;top:0;"></div>

              <span style="position: absolute;left:35%;width: 45%;height: 100%;top:0;">
              <div style="width: 100%;height: 100%;display: table;">
                <div style="display: table-cell;vertical-align: middle;">
                  <div style="font-size: 0.8em;color:#222;">
                    订单号:{{order.orderNum}}
                  </div>
                  <div style="font-size: 0.8em;">
                    服务类型:{{order.serviceName}}
                  </div>
                </div>
              </div>
            </span>


              <span style="width:20%;height:100%;position: absolute;left:80%;top:0;text-align: center;"
                    ng-click="showOrderDetail(order)">
              <div style="width: 100%;height: 100%;display: table;">
                <span style="display:table-cell;vertical-align: middle;">
                  <div style="width: 75px;height: 25px;"
                       ng-if="order.squareFee!==undefined&&order.squareFee!==null">
                    <span style="font-size: 1.3em;color:#ff5030">
                      +{{order.squareFee}}
                    </span>

                  </div>
                </span>
              </div>
            </span>


            </div>

          </div>
          <div style="width: 100%;height: 80px;"></div>

        </ion-scroll>
      </div>

    </ion-content>

  </ion-view>
</ion-nav-view>

