<ion-view view-title="订单详情">
  <ion-nav-bar class="bar-assertive" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" style="font-size: 2.4em;"
              ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>

    <!-- inset one -->
    <div class="list list-inset" style="margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:4px;" >
      <div class="item item-divider">
        编号
      </div>
      <div class="item" style="padding:16px;position: relative;border-left:0px;border-right:0px;" ng-if="order.serviceType==21||order.serviceType==22">
        <span style="width: 30%;display: inline-block;">
          车牌号:
        </span>
        <span style="width: 70%;display: inline-block;font-weight: bolder;">
          {{order.carNum}}
        </span>
      </div>
      <div class="item" style="padding:16px;position: relative;border-left:0px;border-right:0px;">
        <span style="width: 30%;display: inline-block;">
          订单号:
        </span>
        <span style="width: 70%;display: inline-block;font-weight: bolder;">
          {{order.orderNum}}
        </span>
      </div>

    </div>



    <!-- inset two -->
    <div class="list list-inset"
         style="margin-bottom:40px;margin-left:0px;margin-right:0px;margin-top:10px;">


      <div>
        <div class="item item-divider">
          服务详情
        </div>

        <div class="item" style="padding: 16px;">
          <span style="display: inline-block;width: 30%;">
            服务类型:
          </span>
          <span style="display: inline-block;width: 70%;text-align: left;">
            <span style="font-weight: bolder;">
              {{order.serviceName}}
            </span>
          </span>
        </div>

        <!-- 维修 日常保养 -->
        <div class="item" style="padding: 16px;position: relative" ng-if="order.serviceType==11">
          <div style="position: absolute;left:5%;top:40%;">
            服务内容:
          </div>
          <div style="display: inline-block;width: 30%;">
          </div>
          <span style="display: inline-block;width: 70%;text-align: left;">
            <div ng-repeat="subService in order.subServiceContent">
                <span style="color:#a1ff38"><i class="fa fa-check"></i></span>
              <span style="font-weight: bolder;">{{subService}}</span>
            </div>
          </span>
        </div>

        <!--维修 事故 -->
        <div class="item" style="padding: 16px;" ng-if="order.serviceType==13">
          <span style="display: inline-block;width: 30%;">
            事故类型:
          </span>
          <span style="display: inline-block;width: 70%;text-align: left;">
            <span style="font-weight: bolder;">
              {{order.subServiceContent}}
            </span>
          </span>
        </div>

      </div>

      <!--维修 故障 -->
        <div class="item" style="padding: 16px;" ng-if="order.remark!==undefined&&order.remark!==null">
          <span style="display: inline-block;width: 30%;">
            故障文本描述:
          </span>
          <span style="display: inline-block;width: 70%;text-align: left;">
            <span style="white-space: normal;">
              {{order.remark}}
            </span>
          </span>
        </div>

        <div class="item" style="padding: 16px;">
          <span style="display: inline-block;width: 30%;">
            客户留言:
          </span>

          <span style="display: inline-block;width: 40%;text-align: left;">
            <span style="display: inline-block;position: relative;">
                <i class="ion-ios-mic-outline"
                   style="display: inline-block;font-size: 200%;"
                   ng-click="play()"
                ></i>
              <span ng-class="isPlaying==true?'vibrate-red':''" style="position: absolute;top:-70%;right: -100%;">
                <div style="font-size: 1.1em;height: 6px;">
                  <i class="fa fa-window-minimize"></i>
                </div>
                <div style="font-size: 0.9em;height: 5px;">
                  <i class="fa fa-window-minimize"></i>
                </div>
                <div style="font-size: 0.2em;height: 5px;">
                  <i class="fa fa-window-minimize"></i>
                </div>
              </span>
            </span>


          </span>


        </div>

        <div class="item" style="padding: 16px;" ng-if="order.videoAttachId!==null&&order.videoAttachId!==undefined">
          <span style="display: inline-block;width: 30%;">
            客户视频:
          </span>
          <span style="display: inline-block;width: 30%;">
          </span>
          <span style="display: inline-block;width: 40%;text-align: left;">
             <i class="ion-videocamera"
                style="display: inline-block;width: 75%;font-size: 200%;"
                ng-click="playMovie()"></i>

          </span>
        </div>
      </div>


      <div class="item" style="padding: 16px;">
        <span style="display: inline-block;width: 30%;">
          预约时间:
        </span>
        <span style="display: inline-block;width: 70%;text-align: left;font-weight: bolder;">
          {{order.estimateTime|date:'yyyy-MM-dd HH:mm'}}
        </span>
      </div>

      <div class="item" style="padding: 16px;">
        <span style="display: inline-block;width: 30%;">
          服务费:
        </span>
        <span style="display: inline-block;width: 70%;text-align: left;font-weight: bolder;">
          {{order.fee}}
        </span>
      </div>

      <div class="item" style="padding: 16px;">
        <span style="display: inline-block;width: 30%;">
          地点:
        </span>
        <span style="display: inline-block;width: 70%;text-align: left;font-weight: bolder;">
          {{order.servicePlace.name}}
        </span>
      </div>

      <div class="item" style="padding: 16px;" ng-if="order.serviceType==23">
        <span style="display: inline-block;width: 30%;">
          接机地点:
        </span>
        <span style="display: inline-block;width: 70%;text-align: left;font-weight: bolder;">
          {{order.servicePlace.customerPlace}}
        </span>
      </div>

      <div class="item" style="padding: 16px;" ng-if="order.serviceType==24">
        <span style="display: inline-block;width: 30%;">
          接站地点:
        </span>
        <span style="display: inline-block;width: 70%;text-align: left;font-weight: bolder;">
          {{order.servicePlace.customerPlace}}
        </span>
      </div>



      <div style="width: 100%;" ng-if="order.orderState==1">
        <button class="button button-block button-positive"
                ng-click="takeOrder()"
                style="width: 60%;margin-left:20%;"
                ng-if="order.candidateState==1">
          <span ng-if="timeout<=121">{{timeout}}</span>
          <span ng-if="timeout>121">已经超时,请返回上个页面重新查看订单</span>
          愿意接单
        </button>

        <button class="button button-block button-positive"
                style="width: 60%;margin-left:20%;"
                ng-if="order.candidateState==2">
          已经发出接单请求
        </button>

      </div>

    </div>




  </ion-content>

</ion-view>
